<div class="container panel">

    <div dir-current-view></div>

    <form novalidate name="myForm" class="form-horizontal">
        <fieldset ng-disabled="currentView == 'view'">
            <div class="form-group">
                <label for="id1" class="col-sm-2 control-label">Id</label>

                <div class="col-sm-6">
                    <input class="form-control" id="id1" type="text" ng-model="item.id" placeholder="Undefined"
                    ng-readonly="true"/>
                </div>
            </div>
            <div class="form-group">
                <label for="name1" class="col-sm-2 control-label">Название</label>

                <div class="col-sm-6">
                    <input class="form-control" id="name1" type="text" ng-model="item.name" placeholder="Название"
                           required/>
                </div>
            </div>
            <div class="form-group move-down">
                <label for="Autocomplete" class="col-sm-2 control-label">Город</label>

                <div class="col-sm-6">
                    <input placeholder="Город" type="text" id="Autocomplete" class="form-control" ng-autocomplete
                           ng-model="item.ownAddress[0].city" details="details2" options="options2" required
                           ng-keypress="myPressFunct($event)"/>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <!--Сохранить -->
                <button ng-if="currentView != 'view'" id="save" class="btn btn-primary" ng-click="save(item)"
                        ng-disabled="myForm.$invalid || saving">
                    Сохранить
                    <span ng-show="saving"><img ng-src="images/ajax-loader.gif" alt="loader"></span>
                </button>
                <!--Изменить -->
                <button ng-if="currentView == 'view'" class="btn btn-primary" ng-click="edit(item)">
                    Изменить
                </button>
                <!--Отменить -->
                <button ng-if="currentView != 'view'" class="btn btn-primary" ng-click="cancel()"
                        ng-disabled="saving">
                    Отменить
                </button>
                <!--Назад -->
                <button ng-if="currentView == 'view'" class="btn btn-primary" ng-click="cancel()">
                    Назад
                </button>
            </div>
        </div>
    </form>
</div>