<h2>Компании</h2>
<div class="row">
    <div class="col-xs-4">
        <h3>Cтраница: {{ pagination.page }}</h3>
    </div>
    <div class="col-xs-4">
        <label for="search">Фильтр:</label>

        <div class="input-group">
            <input type="search" ng-keypress="myPressFunct($event)" ng-model="pagination.filter" id="search"
                   class="form-control"
                   placeholder="Поиск...">
        <span class="input-group-btn">
            <button ng-show="pagination.filter" ng-disabled="!pagination.filter" class="btn btn-default" type="button"
                    ng-click="clearSearch()">X
            </button>
            <button class="btn btn-default" type="button" ng-click="searchFunct()"><span
                    class="glyphicon glyphicon-search"></span></button>
        </span>
        </div>
    </div>
    <div dir-limit-list="limits" class="col-xs-4"></div>
</div>
<div class="container">
    <dir-pagination-controls boundary-links="true"
                             on-page-change="pageChanged(pagination.page)"></dir-pagination-controls>
</div>
<div dir-main-table="items"></div>
<div class="container">
    <button class="btn btn-primary" ng-click="add()">Добавить</button>
</div>
